<li id="blogpost">
  <span class="user"><%= blogpost.name %></span>
  <span class="content"><%= blogpost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(blogpost.created_at) %> ago.
  </span>
</li>
