<% provide(:title, "Home") %>
<h1 class="title_home">Our Wedding Guest List</h1>
<p class="body_home">
  This is the home page for our guests to RSVP for our wedding and for us to post updates on our wedding.
</p>
<div class="links_home">
  <a href="/static_pages/about">About Our Wedding</a>
</div>
<div class="links_home">
  <a href="/static_pages/rsvp">RSVP for Our Wedding</a>
</div>
<div class="links_home">
  <a href="/static_pages/help">Contact Us</a>
</div>
<center>
  <img class="photo" src="/ourphoto.jpg" alt="Our Photo">
</center>
