<% provide(:title, "Home") %>
<h1 class="title_home">Our Wedding Guest List</h1>
<p class="body_home">
  This is the home page for our guests to RSVP for our wedding and receive updates from us!
</p>
<div class="links_home">
  <%= link_to "Details of Our Wedding", about_path %>
</div>
<div class="links_home">
  <%= link_to "RSVP for Our Wedding", signup_path %>
</div>
<div class="links_home">
  <%= link_to "Updates on Our Preparations", blog_path %>
</div>
<p class="photo"></p>
