<% provide(:title, "Home") %>
<h1 class="title_home">Our Wedding Guest List</h1>
<p class="body_home">
  This is the home page for our guests to RSVP for our wedding and receive updates from us!
</p>
<div class="links_home">
  <a href="/static_pages/about">Details of Our Wedding</a>
</div>
<div class="links_home">
  <a href="/static_pages/rsvp">RSVP for Our Wedding</a>
</div>
<div class="links_home">
  <a href="/static_pages/blog">Updates on our Preparation</a>
</div>
<p class="photo"></p>
