<% provide(:title, "RSVP") %>
<h1>RSVP for Our Wedding</h1>
<center>
  <p>Thank you for your RSVP! <br>We look forward to seeing you at our wedding.</p>
  <%= link_to image_tag("calvin.jpg", alt: "Calvin and Susie") %>
</center>

<%= render 'layouts/footer' %>
