<% provide(:title, @user.name) %>
<div class="row">

  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h1>Updates on Our Preparations (<%= @user.microposts.count %>)</h1>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>
<%= render 'layouts/footer' %>
